<section class="competence">
		<div class="row">

			<div class="competency cx2 cs2">
				<%= require('raw-loader!./footer.ejs') %>
				
			</div>

			<!-- <div class="competency cx2 cs2">
			<%= require('raw-loader!../svg/webpack.svg') %>
				<%= require('svg-url-loader!./../svg/webpack.svg') %>
			</div> -->

<!-- 			<div class="competency cx2 cs2">
	<%= require('svg-url-loader!../svg/javascript.svg') %>
</div>

<div class="competency cx2 cs2">
	<%= html-loader!../svg/react.svg %>
</div>

<div class="competency cx2 cs2">
	<%= html-loader!../svg/yarn.svg %>
</div>

<div class="competency cx2 cs2">
	<%= html-loader!../svg/redux.svg %>
</div>

<div class="competency cx2 cs2">
	<%= html-loader!../svg/relay.svg %>
</div>

<div class="competency cx2 cs2">
	<%= html-loader!../svg/nginx.svg %>
</div>

<div class="competency cx2 cs2">
	<%= html-loader!../svg/html-5.svg %>
</div>

<div class="competency cx2 cs2">
	<%= html-loader!../svg/webcomponents.svg %>
</div>

<div class="competency cx2 cs2">
	<%= html-loader!../svg/svg.svg %>
</div>

<div class="competency cx2 cs2">
	<%= html-loader!../svg/php.svg %>
</div>

<div class="competency cx2 cs2 col">
	<%= html-loader!../svg/illustrator-logo.svg %>
</div>

<div class="competency cx2 cs2 col">
	<%= html-loader!../svg/photoshop.svg %>
</div>

<div class="competency cx2 cs2">
	<%= html-loader!../svg/vagrant.svg %>
</div>

<div class="competency cx2 cs2">
	<%= html-loader!../svg/gulp.svg %>
</div>

<div class="competency cx2 cs2">
	<%= html-loader!../svg/nodejs-icon.svg %>
</div>

<div class="competency cx2 cs2">
	<%= html-loader!../svg/npm.svg %>
</div>

<div class="competency cx2 cs2">
	<%= html-loader!../svg/mysql.svg %>
</div>

<div class="competency cx2 cs2">
	<%= html-loader!../svg/rethinkdb.svg %>
</div>

<div class="competency cx2 cs2">
	<%= html-loader!../svg/postgresql.svg %>
</div>

<div class="competency cx2 cs2">
	<%= html-loader!../svg/cpanel.svg %>
</div>

<div class="competency cx2 cs2">
	<%= html-loader!../svg/centos-icon.svg %>
</div>

<div class="competency cx2 cs2">
	<%= html-loader!../svg/debian.svg %>
</div>

<div class="competency cx2 cs2">
	<%= html-loader!../svg/git-icon.svg %>
</div>

<div class="competency cx2 cs2">
	<%= html-loader!../svg/google-analytics.svg %>
</div>

<div class="competency cx2 cs2">
	<%= html-loader!../svg/stripe.svg %>
</div>

<div class="competency cx2 cs2 col">
	<%= html-loader!../svg/babel.svg %>
</div>

<div class="competency cx2 cs2">
	<%= html-loader!../svg/electron.svg %>
</div>

<div class="competency cx2 cs2">
	<%= html-loader!../svg/wordpress-icon.svg %>
</div>

<div class="competency cx2 cs2">
	<%= html-loader!../svg/laravel.svg %>
</div>

<div class="competency cx2 cs2">
	<%= html-loader!../svg/composer.svg %>
</div>

<div class="competency cx2 cs2">
	<%= html-loader!../svg/bower.svg %>
</div>

<div class="competency cx2 cs2">
	<%= html-loader!../svg/browserstack.svg %>
</div>

<div class="competency cx2 cs2">
	<%= html-loader!../svg/codepen.svg %>
</div>

<div class="competency cx2 cs2">
	<%= html-loader!../svg/emmet.svg %>
</div>

<div class="competency cx2 cs2">
	<%= html-loader!../svg/es6.svg %>
</div>

<div class="competency cx2 cs2">
	<%= html-loader!../svg/grunt.svg %>
</div>

<div class="competency cx2 cs2">
	<%= html-loader!../svg/jira.svg %>
</div>

<div class="competency cx2 cs2">
	<%= html-loader!../svg/sass.svg %>
</div> -->

		</div><!-- .row -->
	</section>